
<div style="left: 360px;top: 45px;position: absolute;">
    <label for="">From Numbers:</label>
    <input id="numbers" type="text" class="form-control" [(ngModel)]="fromPhoneNumber"
        placeholder="84899199586, 84899199586">
    <br/>
    <label for="">Access token:</label>
    <br/>
    <textarea id="access_token" rows="8" cols="50" class="form-control" placeholder="Your access token"
        [(ngModel)]="access_token"></textarea>
    <br/>
    <button id="connect-btn" class="btn btn-primary channels-control" tabindex="-1" data-ember-action="1866"
        (click)="callConnect()">
        Connect
    </button>
    <button id="disconnect-btn" class="btn btn-primary channels-control" tabindex="-1" data-ember-action="1866">
        Disconnect
    </button>
    <!-- <button class="btn btn-primary" type="button" (click)="makeCall()">Goi</button> -->
    ​<button class="btn btn-dark" (click)="hiddenPhone()">Hidden</button>
    <button class="btn btn-success" (click)="startCall()">Call center</button>
    <br /><br />
    ​
    <!-- <button id="make-call-btn" class="channels-control" tabindex="-1" data-ember-action="1866">
        Make call from '1111' to '2222'
    </button>
    <button id="hangup-call-btn" class="channels-control" tabindex="-1" data-ember-action="1866">
        Hangup current call
    </button>
    <br/><br />
    <button id="answer-incoming-call-btn" class="channels-control" tabindex="-1" data-ember-action="1866">
        Answer incoming call
    </button> -->
</div>